body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #121212 !important;
}

/* .navbar-all-back {
    background:  !important;
    height: 332px;
} */

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border: none !important;
}

.auth-all {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.hover-cline-text:hover {
  color: white;
}

.css-lopdmi-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}
