.nav-back {
  background-color: black;
  color: #fff;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

.img-iconw {
  width: 8%;
  height: 10%;
  margin-left: 10%;
  cursor: pointer;
}

.direction {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 1.8% 0 1.8% 50%;
  font-weight: 550;
}

.dir-nav {
  padding: 0 30% 0 30%;
  font-size: 1.15rem;
  cursor: pointer;
}

.dir-nav:hover {
  color: #1ed760;
}

.plan-mi {
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.plan-inf {
  display: flex;
  justify-content: center;
  margin-right: 23.5%;
  margin-bottom: 1%;
}

.int-back {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
}

.ingride {
  width: 30%;
  background: rgb(255, 210, 215);
  padding: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.individ {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  width: 60%;
  margin-bottom: 1.5vh;
}

.inhit {
  color: #000;
  font-size: 0.6875rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
}

.inghiter {
  display: flex;
  color: #000;
}

.free-inf {
  margin-left: 2vw;
  margin-top: -0.7vh;
}

.free-3m {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 1vh;
  margin-bottom: 0px;
  margin-left: 6.5vw;
  font-size: 0.825rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.begall {
  width: 100%;
  display: flex;
  justify-content: center;
}

.begin {
  padding: 16px;
  font-size: 1rem;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 0 0 16px 16px;
  box-shadow: rgb(0 0 0 / 30%) 0px 2px 10px;
  width: 30%;
  margin-bottom: 10vh;
}

.beginadd {
  margin-bottom: 1.5vh;
  width: 70%;
}

.beg-tod {
  display: flex;
}

.today {
  width: 45%;
  text-align: right;
}

.info-li {
  margin-top: 2%;
  margin-left: 3.5%;
  font-size: 0.6875rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
}
